@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans:wght@300;600;800&display=swap');

* {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	box-sizing: border-box;
	/*color: hsl(220, 98%, 61%);*/
}

html, body {
	margin: 0;
	padding: 0;
}

body *, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin: 0 auto;
}

header  {
	width: 100%;
	display: flex;
	justify-content: space-between;
	border: 1px solid black;
	align-items: center;
	padding: 10px 50px;
}

.theme-switcher {
	display: flex;
}

.clickable-area-btn {
	background-color: transparent;
	color: inherit;
	display: inherit;
	border: none;
	border-radius: 5px;
	padding: 5px;
}

.clickable-area-btn:hover {
	cursor: pointer;
	background-color: orange;
}

.theme-icon img {
	height: 14px;
	display: flex;
	align-items: center;
	margin-right: 5px;
}

#themeSwitcherBtn {
	display: flex;
	align-items: center;
}
