@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans:wght@300;600;800&display=swap');

* {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	box-sizing: border-box;
	/*color: hsl(220, 98%, 61%);*/
}

html, body {
	margin: 0;
	padding: 0;
}

body *, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 0 auto;
}

header  {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.theme-switcher {
	display: flex;
}

.clickable-area-btn {
	background-color: transparent;
	color: inherit;
	display: inherit;
	border: none;
	border-radius: 5px;
	padding: 5px;
}

.clickable-area-btn:hover {
	cursor: pointer;
	background-color: orange;
}

.clickable-btn {
	display: inherit;
	border: none;
	border-radius: 5px;
	padding: 5px 25px;
	box-shadow: 0px 0px 10px -3px rgba(57, 57, 26, 0.5);
}

.clickable-btn:hover {
	cursor: pointer;
	background-color: orange !important;
}

.arrow-left {
	font-size: 20px;
	padding: 0;
	margin: 0;
}

.theme-icon img {
	height: 14px;
	display: flex;
	align-items: center;
	margin-right: 5px;
}

#themeSwitcherBtn {
	display: flex;
	align-items: center;
}

.logo {
	font-size: 18px;
	font-weight: bold;
}

main {
	display: flex;
	flex-direction: column;
	width: 100%;
	box-shadow: inset 0px 10px 8px -6px rgba(57, 57, 26, 0.2);
}

.filter-section {
	display: flex;
	background-color: inherit;
	justify-content: space-between;
}

.total-info-section {
}

#regionSelect {
	border: none !important;
	border-color: transparent !important;
	border-radius: 5px;
	padding: 15px;
	font-size: 13px;
	box-shadow: 0px 0px 10px -3px rgba(57, 57, 26, 0.5);
}

#searchInputTxt {
	border: none !important;
	border-color: transparent !important;
	border-radius: 5px;
	padding: 0 10px 0 40px;
	font-size: 13px;
	box-shadow: 0px 0px 10px -3px rgba(57, 57, 26, 0.5);
}

.cards {
	display: flex;
	background-color: inherit;
}

.card {
	box-shadow: 0px 0px 10px -3px rgba(57, 57, 26, 0.5);
	border-radius: 5px;
}

.card img {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.card .info {
	padding: 20px;
}

.card .info h3 {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 13px;
}

.card .info p {
	font-size: 13px;
}

.card .info .label,
#detailsSection .info .label {
	font-weight: bold;
	font-size: inherit;
}

.actions-section {
}

#detailsSection {
	display: flex;
}

#detailsSection>.info {
	display: flex;
}

#detailsSection .info h2 {
	font-size: 20px;
	font-weight: bold;
}

#detailsSection .details-info {
	display: flex;
}

#detailsSection .details-info p {
	margin-top: 8px;
}

#detailsSection .border-countries {
	display: flex;
	align-items: center;
}

#detailsSection .border-countries ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
}

#detailsSection .border-countries ul>li {
	margin: 3px;
}

#detailsSection .border-countries ul>li a {
	color: inherit;
}

#detailsSection .border-countries ul>li a:link,
#detailsSection .border-countries ul>li a:visited,
#detailsSection .border-countries ul>li a:hover,
#detailsSection .border-countries ul>li a:active {
	text-decoration: none;
}

#detailsSection .border-countries p.label {
	margin-right: 12px;
}

.loading {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.loading p {
	margin: 40px;
}

.loading img {
	width: 40px;
}
