/* desktop styles */

@media only screen and (min-width:375px) {

	.container {
		max-width: 1440px;
	}

	header  {
		padding: 10px 50px;
	}

	.filter-section {
		flex-direction: row;
		margin: 40px;
	}

	.cards {
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 0 40px;
	}

	.card img {
		width: 200px;
	}

	.card {
		margin: 30px 10px;
	}

	main {
		padding: 0 10px;
	}
	
	#searchInputTxt {
	}

	#regionSelect {

	}
}
