body.theme-light {
	background-color: white;
	color: hsl(200, 15%, 8%);
}

.theme-light main {
	background-color: hsl(0, 0%, 98%);
}

.theme-light #searchInputTxt {
	background: transparent url("../images/search-icon-black.png") no-repeat 13px center;
	background-size: 4%;
}

.theme-light #regionSelect {
	background-color: white;
}

.theme-light .card {
	background-color: white;
}

.theme-light .clickable-btn {
	background-color: white;
	color: inherit;
}

.theme-light .sorting-div a {
	color: navy;
}

.theme-light .fetch-data button {
	border: 1px solid silver;
}
