body.theme-dark {
	background-color: hsl(209, 23%, 22%);
	color: white;
}

.theme-dark main {
	background-color: hsl(207, 26%, 17%);
}

.theme-dark #searchInputTxt {
	background: transparent url("../images/search-icon-white.png") no-repeat 13px center;
	background-size: 4%;
	background-color: hsl(209, 23%, 22%);
	color: white;
}

.theme-dark #regionSelect {
	color: white;
	background-color: hsl(209, 23%, 22%);
}

.theme-dark .card {
	background-color: hsl(209, 23%, 22%);
}

.theme-dark .clickable-btn {
	background-color: hsl(209, 23%, 22%);
	color: inherit;
}

.theme-dark .sorting-div a {
	color: yellow;
}

.theme-dark .sorting-div a:hover {
	color: orange;
}
