/* smartphone styles */

@media only screen and (max-width:374px) {

	header  {
		padding: 10px 5px;
	}

	.filter-section {
		flex-direction: column;
		margin: 20px 15px;
	}

	.total-info-section {
		margin: 0 15px 20px 30px;
	}

	.cards {
		flex-direction: column;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 0 30px;
	}

	.card img {
		width: 100%;
	}

	.card {
		margin: 10px;
	}


	#searchInputTxt {
		padding: 10px 10px 10px 40px;
	}

	#regionSelect {
		margin: 40px 0 10px;
	}

	.actions-section {
		margin: 0 25px;
		padding: 40px 0;
	}

	#detailsSection {
		margin: 0 25px;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	#detailsSection .flag-div img {
		width: 100%;
	}

	#detailsSection .info {
		flex-direction: column;
		margin-top: 30px;
	}

	#detailsSection .details-info {
		flex-direction: column;
		margin-top: 16px;
		justify-content: space-between;
	}

	#detailsSection .second-part {
		margin-top: 30px;
	}

	#detailsSection .border-countries {
		flex-direction: column;
		align-items: flex-start;
		margin: 40px 0;
	}

	#detailsSection .border-countries p {
		margin-bottom: 14px;
	}
}

