/* smartphone styles */

@media only screen and (max-width:374px) {

	header  {
		padding: 10px 5px;
	}

	.filter-section {
		flex-direction: column;
		margin: 20px 15px;
	}

	.total-info-section {
		margin: 0 15px 20px 30px;
	}

	.cards {
		flex-direction: column;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 0 30px;
	}

	.card img {
		width: 100%;
	}

	.card {
		margin: 10px;
	}


	#searchInputTxt {
		padding: 10px 10px 10px 40px;
	}

	#regionSelect {
		margin: 40px 0 10px;
	}

}

